page-add-case {

}
page-add-case {
    .card-background-page {
        
        ion-card {
        position: relative;
        text-align: center;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
        width: 100%;
        margin: 0;
        }

        .card-title {
        position: absolute;
        font-size: 1.7em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        }
    
        .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 30%;
        width: 100%;
        color: #fff;
        }
        
        .button-title {
            position: absolute;
            font-size: 1.7em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            display: block;
            text-decoration-line: 8px;
            padding-left: 10px;
            padding-right: 10px;
        }
        
    }
}
